openapi: 3.1.0
info:
  title: Facebook Ads API Connector
  description: |
    Conector para integração com a API do Facebook Ads.
    Suporta métricas de performance, insights e gerenciamento de campanhas.
  version: 1.0.0
servers:
  - url: https://graph.facebook.com/v22.0
    description: Meta Graph API v22.0

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Token de acesso OAuth2. Pode ser:
        1. Token de usuário (temporário)
        2. Token de sistema (60 dias)
        3. Token de página (permanente)

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            message:
              type: string
              example: "Invalid OAuth access token."
            type:
              type: string
              example: "OAuthException"
            code:
              type: integer
              example: 190
            fbtrace_id:
              type: string
              example: "AbCdEfGhIjKlMnOp"

    InsightsResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              impressions:
                type: integer
                example: 69488
              reach:
                type: integer
                example: 33992
              spend:
                type: number
                format: float
                example: 243.78
              inline_post_engagement:
                type: integer
                example: 2504
              video_p50_watched_actions:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: integer
                      example: 57
                    action_type:
                      type: string
                      example: "video_view"
        paging:
          type: object
          properties:
            cursors:
              type: object
              properties:
                before:
                  type: string
                after:
                  type: string

    Campaign:
      type: object
      properties:
        id:
          type: string
          example: "23851632169650363"
        name:
          type: string
          example: "Campanha Stories - Mar/2025"
        status:
          type: string
          enum: [ACTIVE, PAUSED, DELETED]
          example: "ACTIVE"
        objective:
          type: string
          example: "REACH"
        spend_cap:
          type: number
          format: float
          example: 1000.00
        start_time:
          type: string
          format: date-time
          example: "2025-03-01T00:00:00-0300"
        stop_time:
          type: string
          format: date-time
          example: "2025-03-31T23:59:59-0300"

    PageTokenResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                example: "102264027940184"
                description: ID da página
              name:
                type: string
                example: "Wiemspro Brasil"
              access_token:
                type: string
                description: Token permanente da página
              category:
                type: string
                example: "Business"
              tasks:
                type: array
                items:
                  type: string
                example: ["ANALYZE", "ADVERTISE", "CREATE_CONTENT"]

    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
          description: Token de acesso para a API
        token_type:
          type: string
          enum: [bearer]
          example: "bearer"
        expires_in:
          type: integer
          example: 5184000
          description: Tempo de expiração em segundos (60 dias)

    ValidationResponse:
      type: object
      properties:
        valid:
          type: boolean
          example: true
        message:
          type: string
          example: "Configuração validada com sucesso"

  responses:
    UnauthorizedError:
      description: Erro de autenticação
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

paths:
  /me:
    get:
      summary: Obter informações do usuário autenticado
      operationId: getUserInfo
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Informações do usuário retornadas com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "123456789"
                  name:
                    type: string
                    example: "Nome do Usuário"

  /me/adaccounts:
    get:
      summary: Listar contas de anúncio do usuário
      operationId: listAdAccounts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Contas de anúncio listadas com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: "act_906594379912215"
                        name:
                          type: string
                          example: "Wiemspro Brasil Ads"
                        currency:
                          type: string
                          example: "BRL"
                        timezone_name:
                          type: string
                          example: "America/Sao_Paulo"

  /me/accounts:
    get:
      summary: Listar páginas do usuário
      operationId: listPages
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Páginas listadas com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageTokenResponse'

  /token/exchange:
    post:
      summary: Trocar token de usuário por token de página
      operationId: exchangeUserToken
      parameters:
        - name: page_id
          in: query
          required: true
          schema:
            type: string
            example: "102264027940184"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Token de página gerado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageTokenResponse'

  /act_{ad_account_id}/campaigns:
    get:
      summary: Listar campanhas
      operationId: listCampaigns
      parameters:
        - name: ad_account_id
          in: path
          required: true
          schema:
            type: string
            example: "906594379912215"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Lista de campanhas retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Campaign'

  /act_{ad_account_id}/insights:
    get:
      summary: Obter insights gerais
      operationId: getInsights
      parameters:
        - name: ad_account_id
          in: path
          required: true
          schema:
            type: string
            example: "906594379912215"
        - name: date_preset
          in: query
          schema:
            type: string
            enum: [today, yesterday, last_3d, last_7d, last_30d]
            example: "last_7d"
        - name: breakdowns
          in: query
          schema:
            type: array
            items:
              type: string
              enum: [age, gender, region, platform_position]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Insights retornados com sucesso
          headers:
            Cache-Control:
              schema:
                type: string
                example: "public, max-age=3600"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightsResponse'

  /act_{ad_account_id}/insights/format_performance:
    get:
      summary: Análise de performance por formato
      operationId: getFormatPerformance
      parameters:
        - name: ad_account_id
          in: path
          required: true
          schema:
            type: string
            example: "906594379912215"
        - name: date_preset
          in: query
          schema:
            type: string
            enum: [last_7d, last_30d]
            example: "last_7d"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Performance por formato retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        format:
                          type: string
                          enum: [stories, reels]
                        metrics:
                          type: object
                          properties:
                            impressions:
                              type: integer
                              example: 13587
                            reach:
                              type: integer
                              example: 11145
                            spend:
                              type: number
                              format: float
                              example: 243.78
                            cpm:
                              type: number
                              format: float
                              example: 17.94
                            engagement_rate:
                              type: number
                              format: float
                              example: 18.43
                            video_retention_50:
                              type: number
                              format: float
                              example: 57.8

  /act_{ad_account_id}/insights/instagram:
    get:
      summary: Métricas básicas do Instagram
      operationId: getInstagramInsights
      parameters:
        - name: ad_account_id
          in: path
          required: true
          schema:
            type: string
            example: "906594379912215"
        - name: date_preset
          in: query
          schema:
            type: string
            enum: [last_7d]
            default: "last_7d"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Métricas do Instagram retornadas com sucesso
          headers:
            Cache-Control:
              schema:
                type: string
                example: "public, max-age=3600"
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        impressions:
                          type: integer
                          example: 69488
                        reach:
                          type: integer
                          example: 33992

  /act_{ad_account_id}/insights/cost_benefit:
    get:
      summary: Análise de custo-benefício
      operationId: getCostBenefitAnalysis
      parameters:
        - name: ad_account_id
          in: path
          required: true
          schema:
            type: string
            example: "906594379912215"
        - name: date_preset
          in: query
          schema:
            type: string
            enum: [last_7d]
            default: "last_7d"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Análise de custo-benefício retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  current_distribution:
                    type: object
                    properties:
                      stories:
                        type: object
                        properties:
                          percentage:
                            type: number
                            format: float
                            example: 90.0
                          amount:
                            type: number
                            format: float
                            example: 243.78
                      reels:
                        type: object
                        properties:
                          percentage:
                            type: number
                            format: float
                            example: 10.0
                          amount:
                            type: number
                            format: float
                            example: 27.06

  /act_{ad_account_id}/insights/audience:
    get:
      summary: Segmentação demográfica e regional
      operationId: getAudienceInsights
      parameters:
        - name: ad_account_id
          in: path
          required: true
          schema:
            type: string
            example: "906594379912215"
        - name: date_preset
          in: query
          schema:
            type: string
            enum: [last_7d, last_30d]
            default: "last_7d"
        - name: breakdown
          in: query
          required: true
          schema:
            type: string
            enum: [age, gender, region]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Insights de audiência retornados com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        breakdown_value:
                          type: string
                          example: "25-34"
                        reach:
                          type: integer
                          example: 7831
                        impressions:
                          type: integer
                          example: 9077
                        engagement_rate:
                          type: number
                          format: float
                          example: 17.44
                        cpe:
                          type: number
                          format: float
                          example: 0.06

  /act_{ad_account_id}/insights/geographic:
    get:
      summary: Performance por região
      operationId: getGeographicInsights
      parameters:
        - name: ad_account_id
          in: path
          required: true
          schema:
            type: string
            example: "906594379912215"
        - name: date_preset
          in: query
          schema:
            type: string
            enum: [last_7d]
            default: "last_7d"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Performance por região retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        region:
                          type: string
                          example: "Rio de Janeiro"
                        engagement_rate:
                          type: number
                          format: float
                          example: 27.23
                        cpe:
                          type: number
                          format: float
                          example: 0.08

  /act_{ad_account_id}/insights/creative_performance:
    get:
      summary: Métricas de performance dos criativos
      operationId: getCreativePerformance
      parameters:
        - name: ad_account_id
          in: path
          required: true
          schema:
            type: string
            example: "906594379912215"
        - name: date_preset
          in: query
          schema:
            type: string
            enum: [last_7d]
            default: "last_7d"
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Performance dos criativos retornada com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        impressions:
                          type: integer
                          example: 13587
                        clicks:
                          type: integer
                          example: 245
                        ctr:
                          type: number
                          format: float
                          example: 1.8
                        cpc:
                          type: number
                          format: float
                          example: 0.42
                        spend:
                          type: number
                          format: float
                          example: 102.90

  /token/validate:
    get:
      summary: Validar token e IDs
      operationId: validateToken
      parameters:
        - name: access_token
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Configuração validada com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

security:
  - bearerAuth: []
